<% provide(:title, "Home") %>
<div>
  <h1>Members only chatroom</h1>

  <h2>
    <b><i> shh! </i></b>
  </h2>

  <%= image_tag("members2.png", alt: "Members only", class: "imageMembersOnly") %>

</div>

