<% provide(:title, "Login") %>
  <h1><%= image_tag("memberspic.jpg", alt: "Members only", class: "membersOnlyimg") %></h1>

  <h2>
    <div> Login ~button~ </div>
  </br>
    <div> Password, etcetera </div>
  </h2>



</div>
